@mixin mobile{
    @media screen and (max-width:480px) {
        @content
    }
}

@mixin tablet {
    @media screen and (max-width:768px) {
        @content
    }
}


.formConatiner{
    background-color: rgb(0, 195, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    



    .formWrapper{
    background-color: white;
    padding: 40px 60px;
    border-radius: 20px;
    
    
    .form-header{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        gap: 10px;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        border: none;
    
        input{
            font-size: 15px;
            font-weight: 500;
            padding: 5px;
            outline: none;
            border: none;
            border-bottom: 1px solid gray;
     &:focus{
           outline: none;
        }
        }
        
label{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: rgb(181, 208, 216);

    img{
        width: 40px;
    }
}

    .form-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
    font-size: 15px;

.register-btn{
    width: 100%;
    padding: 10px;
    background-color: rgb(172, 172, 211);
    border:1px solid rgb(165, 165, 211);
    border-radius: 7px;
&:hover{
    cursor: pointer;
}
}

}
}
}
}
//  home-page

.home-container{
    background: rgb(95, 95, 114);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .container{
        border: 1px solid white;
        height:80%;
        width:70%;
        display: flex; 
        border-radius: 10px;
        overflow: hidden;
        @include tablet{
            width: 100%;
            height:100%
        }

        .sidebar{
            background-color: rgb(150, 150, 240);
            flex:1;
            position: relative;
            @include tablet{
                width: 10%;
            }
    

            .navbar{
                display: flex;
                align-items: center;
                background: #516b94;
                color:white;
                justify-content: space-between;
                height: 40px;
                padding: 10px;
                
            
                img{
                    width:32px; 
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;

                   
                     

                }

                .logo{
                    font-weight:700;
                    @include tablet{
                        display: none;
                    }
                }
                span{
                    font-weight: 700;
                }
                .signedUser{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap:10px;
                }

                button{
                    border: none;
                    font-size: 12px;
                    border-radius: 5px;
                    padding: 5px;
                    background-color: #1d3152;
                    color: white;
                    @include tablet{
                        position: absolute;
                        bottom: 10px;
                    }
            
                }
            }

            .search{
            
                display: flex;
                flex-direction: column;
                border-bottom:1px solid gray;

             input{
                border: none;
                outline: none;
                padding: 10px;
                border-radius: 10px;
                background: transparent;
                overflow: hidden;

                &::placeholder{
                    color: #393c41;
                }
             }
             
            }

            .user{
                display: flex;
                padding: 5px;
                
                align-items: center;

                &:hover{
                    background-color: #38568b;
                }

                img{
                    height: 42px;
                    width: 42px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .user-details{
                    
                    align-items: center;
                    padding: 10px;
                    font-weight: 500;
                    gap: 10px;
                    margin-top: 10px;
                    width: 100%;
                    
                    color: white;

                    span{
                        font-size: 15px;
                    }

                    p{
                        font-size: 12px;
                    }

                }
            }   
               
        }
      
        .chat{
            flex:2;

            .chat-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height:40px;
                background-color: #38568b;
                padding: 10px;

                span{
                    font-weight: 700;
                    color: white;
                }

                .chat-icons{
                    display: flex;
                    gap:10px;

                    img{
                        height: 28px;
                        cursor:pointer;
                    }
                }
            }

            .messages{
                background-color: rgb(213, 213, 226);
                overflow:auto;
                height: calc(100% - 130px);

               .message{
                display: flex;
                gap: 10px;

               
                .message-info{
                    display: flex;
                    flex-direction: column;
                    color: rgb(99, 99, 128);
                    font-weight: 500;
                    font-size: 14px;
                    margin-bottom: 10px;
                    img{
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
               }
               .message-content{
                max-width: 70%;
                display: flex;
                gap: 10px;
                flex-direction: column;

                p{
                    background-color: white;
                    padding: 10px 20px;
                    border-radius: 0px 10px 10px 10px;
                    max-width: max-content;
                   }

                   img{
                    width: 40%;
                   }
               }
               &.user{
                flex-direction:row-reverse ;

                .message-content{
                    align-items: flex-end;
                    
                p{
                    background-color: #516b94;
                    border-radius: 10px 0px 10px 10px;
                    margin-top: 10px;
                }
            }
                }
            }
               
            }
          
            

          
        }
        .input{
            background-color: white;
            height: 50px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            @include tablet{
                gap: 5px;
            }

            input{
                width: 100%;
                font-size: 18px;
                border: none;
                outline: none;
                color:#1d3152

            }

            .send-icons{
                display: flex;
                align-items: center;
                justify-content: center;
                 gap: 10px;

                 img{
                    height: 28px;
                    cursor: pointer;

                    @include tablet{
                        height: 15px;
                        
                    }
                 }

                 button{
                    padding: 10px 15px;
                    background-color: #516b94;
                    border: none;
                    @include tablet{
                        
                        padding: 5px 10px;
                    }
                 }
            }
        }
    }
 
}
